@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    display: flex;
    justify-content: center;
    align-items: center;
}    

.container{
    width: 400px;
    background: #fff;
    border-radius: 10px;
    border: none;
    padding: 40px;
}

.form-control {
    position: relative;
    margin-top: 40px;
}

.container h1{
    text-align: center;
}

.form-control input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-style: 16px;
    border-bottom: 2px solid #adadad;
}

.form-control span{
    position: absolute;
    border-bottom: 3px solid var(--success-color);
    left: 0;
    top: 38px; 
    width: 0%;
    transition: 0.5s;
}

.form-control input:focus ~ span{
    width: 100%;
}

.form-control.error small{
    color: red;
}

.form-control.error input{
    border-bottom: 2px solid var(--error-color);
}

.btn-submit{
    margin-top: 35px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-style: 20px;
    background: var(--success-color);
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.btn-submit:hover{
    background: #08609a;
}

.signup-link a{   
    text-decoration: none;
    color: var(--success-color);
    cursor: pointer;
}

.signup-link a:hover{
    text-decoration: underline;
}

.signup-link{ 
    text-align: center;
    margin-top: 25px;
}

